body {
  background-image: url("background.jpg");
  background-size: cover;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#links button {
  width: 150px;
  margin: 5px;
  padding: 14px 25px;
  background-color: rgb(170, 219, 228);
  border: none;
  color:black;
}

#links button:hover {
    background-color: rgb(131, 179, 187);
    color: white;
}