<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="jumbotron text-center">
  <h1><b>FIT2095 CLINIC</b></h1>
  <p>Welcome to Week 6 Lab</p> 
</div>
  
<!-- <div id="links">
    <a href="/addDoctor">Add Doctor</a><br/>
    <a href="/addPatient">Add Patient</a><br/>
    <a href="/listDoctors">List Doctors</a><br/>
    <a href="/listPatients">List Patients</a><br/>
    <a href="/deletePatient">Delete Patient</a><br/>
    <a href="/updateDoctor">Update Doctor</a><br/>
</div> -->
<div id="links">
  <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
  <a href="/addDoctor"><button type="button" class="btn btn-primary">Add Doctor</button></a>
  <a href="/addPatient"><button type="button" class="btn btn-primary">Add Patient</button></a>
  <a href="/listDoctors"><button type="button" class="btn btn-primary">List Doctors</button></a>
  <a href="/listPatients"><button type="button" class="btn btn-primary">List Patients</button></a>
  <a href="/deletePatient"><button type="button" class="btn btn-primary">Delete Patient</button></a>
  <a href="/updateDoctor"><button type="button" class="btn btn-primary">Update Doctor</button></a>
</div>
</body>
</html>
